<div class="p-1 mb-1 bg-body-tertiary rounded-3">
  <div class="container-fluid py-1">
    <h1 class="display-5 fw-bold"><%= friend.first_name %> <%= friend.last_name %></h1>
    <p class="col-md-8 fs-4"><%= friend.email %> | <%= friend.phone %> | <%= friend.twitter %></p>
  </div>
</div>
